.table {
  border-radius: 10px;
  overflow: hidden;
  background-color: #f8f9fa;
}

.thead-dark th {
  background-color: #343a40;
  color: #fff;
  text-align: center;
}

.table-hover tbody tr:hover {
  background-color: #e9ecef;
}

.vehicle-img {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

tbody td {
  vertical-align: middle;
  text-align: center;
}

.badge-warning {
  font-size: 1rem;
  padding: 0.5em 0.8em;
  border-radius: 5px;
}