<div class="container-fluid bg">
    <div class="row align-items-center min-vh-100">
      <div class="col-lg-5 col-md-8 px-5">
        <div class="card bg-glass shadow-lg">
          <div class="card-body px-4 py-5 px-md-">
            <h1 class="text-center mb-4" style="font-family:'Times New Roman', Times, serif">Sign Up</h1>
            <form action="" (ngSubmit)="checklogin()">
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example2"><b>User Name</b></label>
                <input type="text" name="user" id="form3Example2" class="form-control" [(ngModel)]="username" placeholder="Enter UserName" />
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label" style="height: 35px;" for="form3Example4"><b>Password</b></label>
                <input type="password" name="pas" id="form3Example4" class="form-control" [(ngModel)]="password"  placeholder="Enter Password"/>
              </div>
  
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">
                  <b>Subscribe to our newsletter</b>
                </label>
              </div>
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>